In [0]:
USE CATALOG hive_metastore

In [0]:
CREATE TABLE employees (id INT, name STRING, salary DOUBLE)

In [0]:
INSERT INTO employees 
VALUES 
  (1, 'John', 100000),
  (2, 'Jane', 120000)

In [0]:
insert into employees values (3, 'Mary', 150000), (4, 'Bob', 130000)

In [0]:
insert into employees values (5, 'Alice', 140000)

In [0]:
insert into employees values (6, 'Charlie', 160000)

In [0]:
select * from employees

In [0]:
describe detail employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
UPDATE employees SET salary = salary + 100 WHERE name like 'A%'

In [0]:
select * from employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
describe detail employees

In [0]:
select * from employees

In [0]:
describe history employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees/_delta_log'

In [0]:
%fs head 'dbfs:/user/hive/warehouse/employees/_delta_log/00000000000000000005.json'